# 🚫 Ignore node_modules and logs
node_modules/
.env
logs
*.log

# ⚙️ Ignore build and OS-specific files
build/
dist/
.DS_Store

# 🐳 Ignore Docker local files (optional)
*.local
docker-compose.override.yml
cloudinary-secret.yaml
k8s/mongo-secret.yaml
